<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<!-- Startup Configuration -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!-- Startup configuration ends here -->

	<!-- ConnectionStrings Configuration -->
	<connectionStrings>
		<add name="DBCS"
			 connectionString="data source=.; Integrated Security=SSPI; database=Sample"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!-- connectionString configuratio ends here -->

	<!-- System.serviceModel Configuration -->
	<system.serviceModel>
		
		<!-- Services Configuration -->
		<services>
			<service name="EmployeeService.EmployeeService" behaviorConfiguration="mexBehaviour">
				<endpoint address="EmployeeService" binding="basicHttpBinding" contract="EmployeeService.IEmployeeService"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9000/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<!-- Services configuration ends here -->
		
		<!-- Behaviours Configuration -->
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!-- Behaviours Configuration ends here -->
		
	</system.serviceModel>
	<!-- serviceModel configuration ends here -->
	
	<!-- KnownType serialization and configuration -->
	<system.runtime.serialization>
		<dataContractSerializer>
			<declaredTypes>
				<add type="EmployeeService.Employee, EmployeeService, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null">
					<knownType type="EmployeeService.FullTimeEmployee, EmployeeService, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null" />
					<knownType type="EmployeeService.PartTimeEmployee, EmployeeService, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null" />
				</add>
			</declaredTypes>
		</dataContractSerializer>
	</system.runtime.serialization>
	
</configuration>